<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TedProject</display-name>
  <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>signupServlet</display-name>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>Servlet.signupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupServlet</servlet-name>
    <url-pattern>signupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>signupActionServlet</display-name>
    <servlet-name>signupActionServlet</servlet-name>
    <servlet-class>Servlet.signupActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupActionServlet</servlet-name>
    <url-pattern>signupActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>loginActionServlet</display-name>
    <servlet-name>loginActionServlet</servlet-name>
    <servlet-class>Servlet.loginActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginActionServlet</servlet-name>
    <url-pattern>loginActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>adminTableServlet</display-name>
    <servlet-name>adminTableServlet</servlet-name>
    <servlet-class>Servlet.adminTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminTableServlet</servlet-name>
    <url-pattern>adminTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>adminEditServlet</display-name>
    <servlet-name>adminEditServlet</servlet-name>
    <servlet-class>Servlet.adminEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminEditServlet</servlet-name>
    <url-pattern>adminEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>adminUpdateServlet</display-name>
    <servlet-name>adminUpdateServlet</servlet-name>
    <servlet-class>Servlet.adminUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminUpdateServlet</servlet-name>
    <url-pattern>adminUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditProfilActionServlet</display-name>
    <servlet-name>EditProfilActionServlet</servlet-name>
    <servlet-class>Servlet.EditProfilActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfilActionServlet</servlet-name>
    <url-pattern>EditProfilActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>Servlet.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.developerscrappad.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>searchPropertyServlet</display-name>
    <servlet-name>searchPropertyServlet</servlet-name>
    <servlet-class>Servlet.searchPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPropertyServlet</servlet-name>
    <url-pattern>searchPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>logOutServlet</display-name>
    <servlet-name>logOutServlet</servlet-name>
    <servlet-class>Servlet.logOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logOutServlet</servlet-name>
    <url-pattern>logOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>searchPropertyFilterServlet</display-name>
    <servlet-name>searchPropertyFilterServlet</servlet-name>
    <servlet-class>Servlet.searchPropertyFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPropertyFilterServlet</servlet-name>
    <url-pattern>searchPropertyFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RoomDetailServlet</display-name>
    <servlet-name>RoomDetailServlet</servlet-name>
    <servlet-class>Servlet.RoomDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDetailServlet</servlet-name>
    <url-pattern>RoomDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>reservationServlet</display-name>
    <servlet-name>reservationServlet</servlet-name>
    <servlet-class>Servlet.reservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservationServlet</servlet-name>
    <url-pattern>reservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>mailServlet</display-name>
    <servlet-name>mailServlet</servlet-name>
    <servlet-class>Servlet.mailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailServlet</servlet-name>
    <url-pattern>mailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>mailSendServlet</display-name>
    <servlet-name>mailSendServlet</servlet-name>
    <servlet-class>Servlet.mailSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailSendServlet</servlet-name>
    <url-pattern>mailSendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>mailReplyServlet</display-name>
    <servlet-name>mailReplyServlet</servlet-name>
    <servlet-class>Servlet.mailReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailReplyServlet</servlet-name>
    <url-pattern>mailReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InsertPropertyServlet</display-name>
    <servlet-name>InsertPropertyServlet</servlet-name>
    <servlet-class>Servlet.InsertPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPropertyServlet</servlet-name>
    <url-pattern>InsertPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InsertPropertyActionServlet</display-name>
    <servlet-name>InsertPropertyActionServlet</servlet-name>
    <servlet-class>Servlet.InsertPropertyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPropertyActionServlet</servlet-name>
    <url-pattern>InsertPropertyActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PropertyEditServlet</display-name>
    <servlet-name>PropertyEditServlet</servlet-name>
    <servlet-class>Servlet.PropertyEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyEditServlet</servlet-name>
    <url-pattern>PropertyEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PropertyEditActionServlet</display-name>
    <servlet-name>PropertyEditActionServlet</servlet-name>
    <servlet-class>Servlet.PropertyEditActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyEditActionServlet</servlet-name>
    <url-pattern>PropertyEditActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowPropertiesServlet</display-name>
    <servlet-name>ShowPropertiesServlet</servlet-name>
    <servlet-class>Servlet.ShowPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPropertiesServlet</servlet-name>
    <url-pattern>ShowPropertiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>mailDeleteServlet</display-name>
    <servlet-name>mailDeleteServlet</servlet-name>
    <servlet-class>Servlet.mailDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailDeleteServlet</servlet-name>
    <url-pattern>mailDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RoomDetailBServlet</display-name>
    <servlet-name>RoomDetailBServlet</servlet-name>
    <servlet-class>Servlet.RoomDetailBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDetailBServlet</servlet-name>
    <url-pattern>RoomDetailBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>adminXMLServlet</display-name>
    <servlet-name>adminXMLServlet</servlet-name>
    <servlet-class>Servlet.adminXMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminXMLServlet</servlet-name>
    <url-pattern>adminXMLServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>